* {
    margin: 0;
    padding: 0;
}
.D-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-section {
    height: 80vh;
}

.decoration {
    text-decoration: none;
    border: 1px solid blue;
    padding: 2px 2px 2px 2px;
    color: white;
    background-color: rgb(7, 56, 102);
    border-radius: 5px;
}
.decoration:hover {
    background-color: rgb(6, 46, 84);
    transition: 0.10ms;
}

#hidee {
    display: none;
}

